<h1>handmade_sellers</h1>

<p>Handmade sellersでは以下のことが可能です<br>
・自分のショップを作って管理<br>
・他のショップを見る<br>
・自ショップで材料・商品・在庫管理<br>
・自ショップの原価計算や売上管理</p>
<% if user_signed_in? %>
  <%= link_to "ショップ新規登録", new_shop_path %>
<% end %>

<% unless @user_assign_shops.nil? %>
  <h3>登録済み店舗一覧</h3>
  <% @user_assign_shops.each do |shop| %>
    <li><%= link_to "#{shop.name}詳細", top_shop_path(shop) %></li>
  <% end %>
<% end %>