<h1>単位一覧</h1>

<table>
  <thead>
    <tr>
      <th>単位名</th>
      <th>削除</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <% unless @unit_assigns.include?(unit.id) %>
          <td><%= link_to '削除', shop_unit_path(unit.shop_id, unit.id), method: :delete, data: { confirm: "単位を削除してもいいですか？"} %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>